nav(class="flex flex-row items-center justify-between bg-teal-500 text-teal-200 p-4 px-6 shadow-lg")
  div(class="flex items-center flex-shrink-0 text-white mr-4")
    img.h-16.w-auto.mr-2(src='/images/logo-white.png' alt='Wine logo')
  div(class="w-full block flex-grow flex items-center")
    div(class="text-lg")
      a(href="/" class="block hover:text-white mx-8" class=(path === '/' ? 'text-white' : 'text-teal-200'))
        | Homepage
    div
      a(href="/dashboard" class="text-lg block mt-0 hover:text-white mx-8" class=(path === '/dashboard' ? 'text-white' : 'text-teal-200'))
        | Dashboard
    div(id="devicesBtn" class="cursor-pointer flex hover:text-white mx-8")
      a(class="text-lg block mt-0 mr-1")
        | Devices
      <svg class="fill-current h-auto w-5 mt-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>
      
      // ************* Dropdown menu starts here ************* 
      div(class="hidden absolute text-gray-900 bg-gray-100 flex flex-col rounded-lg mt-6 text-sm p-2" id="dropdownDevices")
        a(href="/nodes" class="px-2 py-1 hover:bg-indigo-100 rounded")
          | My devices
        a(href="/add-node" class="px-2 py-1 hover:bg-indigo-100 rounded mt-0")
          | Configure devices
        a(href="/functionality" class="px-2 py-1 hover:bg-indigo-100 rounded")
          | My functionalities
        a(href="/functionality/add" class="px-2 py-1 hover:bg-indigo-100 rounded")
          | Add functionality
    // ************* Dropdown menu ends here ************* 

  div(class="text-teal-200 w-40")
    div(class="flex justify-end")
      a(id="accountBtn" class="mr-2 cursor-pointer text-sm hover:bg-teal-300 hover:text-white cursor-pointer rounded-full flex items-end")
        img(class="w-auto h-12 rounded-full border border-teal-500 hover:border-teal-400" src=user.gravatar)

      // ************* Dropdown menu starts here ****************
      div(class="hidden absolute text-gray-900 bg-gray-100 flex flex-col rounded-lg mt-12 mr-2 text-sm p-2" id="dropdownAccount")
          a(href="/settings" class="px-2 py-1 hover:bg-indigo-100 rounded mt-0")
            | Settings
          a(href="/logout" class="px-2 py-1 hover:bg-indigo-100 rounded text-indigo-500")
            | Log out
      // ************* Dropdown menu ends here ************* 

script. 
  window.addEventListener('DOMContentLoaded', () => {
    const menuBtn = document.querySelector('#devicesBtn'); 
    const dropdownDev = document.querySelector('#dropdownDevices'); 
    const accountBtn = document.querySelector('#accountBtn')
    const dropdownAcc = document.querySelector('#dropdownAccount')

    menuBtn.addEventListener('click', () => {
      dropdownDev.classList.toggle('hidden');
      menuBtn.classList.toggle('text-white');
      dropdownDev.classList.toggle('shadow-lg');
    })

    accountBtn.addEventListener('click', () => {
      dropdownAcc.classList.toggle('hidden');
      accountBtn.classList.toggle('text-white');
      accountBtn.classList.toggle('bg-teal-300');
      dropdownAcc.classList.toggle('shadow-lg');
    })

  })