nav(class="flex flex-row bg-teal-500 p-4 px-6 shadow-lg")
  div(class="flex-shrink-0 text-white mr-4")
    img.h-16.w-auto.mr-2(src='/images/logo-white.png' alt='Wine logo')
  div(class="w-full block flex items-center justify-between")
    div(class="text-lg")
      a(href="/" class="block hover:text-white ml-8" class=(path === '/' ? 'text-white' : 'text-teal-200'))
        | Homepage
    div(class="flex items-center")
      a(id="signInBtn" class="cursor-pointer text-lg block text-teal-200 hover:text-white mx-8")
        | Log in

      // ********* Login modal begins here *********

      div(id="overlay" class="h-full overflow-auto fixed hidden flex z-10 bg-gray-900 bg-opacity-75 inset-0 justify-center items-center")
        div(class="bg-gray-200 max-w-sm py-3 px-3 rounded-lg shadow-xl")
          div(class="flex text-white")
            <svg id="closeModal" class="ml-auto text-gray-700 w-5 h-5 cursor-pointer hover:bg-gray-300 rounded-full" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
          div(class="flex justify-center")
            img(class="h-16 w-auto mr-2" src='/images/logo.png' alt='Wine logo black')
          div(class="flex justify-center items-center")
            h4(class="text-2xl font-light px-10") Log in to WineJS
          form(action="/login" method="POST")
            div(class="mt-4 text-xs mx-4")
              | Email
            div(class="mt-1 text-xs mx-4")
              input(type="email" name="email" id="sign-in-username" class="w-full rounded border border-gray-700 pl-1 focus:outline-none" placeholder="bent@gmail.com" required)
            div(class="mt-2 text-xs mx-4")
              | Password
            div(class="mt-1 text-xs mx-4")
              input(type="password" name="password" id="sign-in-password" class="focus:outline-none w-full rounded border border-gray-700 pl-1" placeholder="MySecretPassword" required)
            div(class="mt-5 flex justify-center text-md")
              button(type="submit" id="secondSignInBtn" class="px-5 py-1 bg-indigo-300 border rounded-lg text-gray-100 hover:border-indigo-300 hover:bg-gray-200 hover:text-indigo-300 focus:outline-none")
                | Log in
          div(class="text-xs flex justify-center mt-2")
            p Don't have an account? <a id="signUpBtn2" class="cursor-pointer text-teal-300 hover:underline"> Register</a> now!
          div(class="text-xs flex justify-center mb-2")
            a(id="forgotPassword" class="cursor-pointer text-gray-900 hover:underline hover:text-indigo-300") 
              | Lost your password?

      // ********* Login modal ends here *********

      // ********* Reset password modal begins here *********
      div(id="modalNewPassword" class="h-full overflow-auto fixed z-10 bg-gray-900 bg-opacity-75 inset-0 hidden flex flex-col justify-center items-center")
        div(class="bg-gray-200 max-w-sm py-3 px-3 rounded-lg shadow-xl")
          div(class="flex text-white")
            <svg id="closeModalNewPassword" class="ml-auto text-gray-700 w-5 h-5 cursor-pointer hover:bg-gray-300 rounded-full" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
          div(class="flex justify-center")
            img(class="h-16 w-auto mr-2" src='/images/logo.png' alt='Wine logo black')
          div(class="flex justify-center items-center")
            h4(class="text-2xl font-light px-10") Enter your mail
          form(action="/account/forgotPassword" method="POST")
            div(class="mt-2 text-xs mx-4")
              | Your mail
            div(class="mt-1 text-xs mx-4")
              input(type="email" name="email" id="userEmail" class="pl-1 w-full rounded border border-gray-700 focus:outline-none" required placeholder="myemail@gmail.com")
            div(class="mt-5 flex justify-center text-md")
              button(id="saveNewPassword" class="focus:outline-none px-5 py-1 bg-indigo-300 border rounded-lg text-gray-100 hover:border-indigo-300 hover:bg-gray-200 hover:text-indigo-300")
                | Send password
            div(class="text-xs flex justify-center mt-2 mb-2")
              <a id="cancelNewPasswordBtn" class="cursor-pointer text-indigo-300 hover:underline">Cancel</a>

      // ********* Reset password modal ends here *********

      a(id="signUpBtn" class="mr-4 cursor-pointer inline-block text-lg px-4 py-2 leading-none border rounded-lg text-teal-200 border-teal-200 hover:border-transparent hover:text-teal-500 hover:bg-white")
        | Register

      // ********* Register modal begins here *********

      div(id="overlaySignUp" class=`h-full overflow-auto fixed z-10 bg-gray-900 bg-opacity-75 inset-0 ${showModal || 'hidden'} justify-center flex items-center`)
        div(class="bg-gray-200 max-w-sm py-3 px-3 rounded-lg shadow-xl")
          div(class="flex text-white")
            <svg id="closeModalSignUp" class="ml-auto text-gray-700 w-5 h-5 cursor-pointer hover:bg-gray-300 rounded-full" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
          div(class="flex justify-center")
            img(class="h-16 w-auto mr-2" src='/images/logo.png' alt='Wine logo black')
          div(class="flex justify-center items-center")
            h4(class="text-2xl font-light px-10") Register to WineJS
          form(action="/register" method="POST")
            div(class="mt-4 text-xs mx-4")
              | Name
            div(class="mt-1 text-xs mx-4")
              input(type="text" name=`${'name'}` id="sign-in-username" class="focus:outline-none w-full rounded border border-gray-700 pl-1" required placeholder="Simon Anielski")
            div(class="mt-4 text-xs mx-4")
              | Email
            div(class="mt-1 text-xs mx-4")
              input(type="email" name="email" id="sign-in-username" class="focus:outline-none w-full rounded border border-gray-700 pl-1" required placeholder="bent@gmail.com")
            div(class="mt-2 text-xs mx-4")
              | Password
            div(class="mt-1 text-xs mx-4")
              input(type="password" name="password" id="sign-in-password" class="focus:outline-none w-full rounded border border-gray-700 pl-1" required placeholder="*******")
            div(class="mt-2 text-xs mx-4")
              | Confirm password
            div(class="mt-1 text-xs mx-4")
              input(type="password" name="password-confirm" id="sign-in-password-confirm" class="w-full rounded border border-gray-700 pl-1" required placeholder="*******")
            div(class="mt-5 flex justify-center text-md")
              button(type="submit" id="secondSignUpBtn" class="px-5 py-1 bg-teal-300 border rounded-lg text-gray-100 hover:border-teal-300 hover:bg-gray-200 hover:text-teal-300 focus:outline-none")
                | Register
          div(class="text-xs flex justify-center my-2")
            p Already have an account? <a id="loginBtn" class="cursor-pointer text-indigo-500 hover:underline"> Log in</a> now!
      
      // ********* Register modal ends here *********

script. 
  window.addEventListener('DOMContentLoaded', () => {
    const body = document.querySelector('#body');
    const overlay = document.querySelector('#overlay');
    const login = document.querySelector('#signInBtn');
    const closeLogin = document.querySelector('#closeModal');
    const login2 = document.querySelector('#loginBtn');

    const overlaySignUp = document.querySelector('#overlaySignUp')
    const closeSignUp = document.querySelector('#closeModalSignUp');
    const signup = document.querySelector('#signUpBtn');
    const signup2 = document.querySelector('#signUpBtn2');

    const modalNewPassword = document.querySelector('#modalNewPassword'); 
    const newPassword = document.querySelector('#forgotPassword'); 
    const closeNewPassword = document.querySelector('#closeModalNewPassword'); 
    const cancelNewPassword = document.querySelector('#cancelNewPasswordBtn'); 

    // "toggle" checks if the element has class hidden and flex, if not, it adds, if it does, it removes
    const toggleModal = () => {
      overlay.classList.toggle('hidden');
      body.classList.toggle('overflow-hidden');
    }

    const toggleModal2 = () => {
      overlaySignUp.classList.toggle('hidden');
      overlay.classList.toggle('hidden');
    }

    const toggleSignUpModal = () => {
      overlaySignUp.classList.toggle('hidden');
      body.classList.toggle('overflow-hidden');
    }

    const toggleSignUpModal2 = () => {
      overlay.classList.toggle('hidden');
      overlaySignUp.classList.toggle('hidden');
    }

    const toggleNewPasswordModal = () => {
      modalNewPassword.classList.toggle('hidden');
      overlay.classList.toggle('hidden'); 
    }

    const toggleNewPasswordModal2 = () => {
      toggleNewPasswordModal(); 
      toggleModal(); 
    }

    login.addEventListener('click', toggleModal);
    closeLogin.addEventListener('click', toggleModal);
    login2.addEventListener('click', toggleModal2);

    signup.addEventListener('click', toggleSignUpModal);
    closeSignUp.addEventListener('click', toggleSignUpModal);
    signup2.addEventListener('click', toggleSignUpModal2);

    newPassword.addEventListener('click', toggleNewPasswordModal);
    closeNewPassword.addEventListener('click', toggleNewPasswordModal2);
    cancelNewPassword.addEventListener('click', toggleNewPasswordModal);
  })