extends _layout

block content
  div(class="flex flex-col items-center")
    div(class="mt-2 flex flex-col divide-y rounded-lg bg-white max-w-md shadow-xl")
      div(class="text-gray-900 text-2xl font-light mx-4 mb-5")
        | Edit Device
      div(id="editName" class="border-t flex flex-row py-2 hover:bg-gray-200 cursor-pointer")
        div(class="ml-4 w-32 text-gray-700")
          a(class="") Name:
        div(class="w-64")
          | Name of node
        div(class="pl-20 mt-2 text-gray-700 mr-4")
          <svg class="w-auto h-3" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
      div(id="editName" class="border-t flex flex-row py-2 hover:bg-gray-300 cursor-pointer")
        div(class="ml-4 w-32 text-gray-700")
          a(class="") ID:
        div(class="w-64")
          | Identify of node
        div(class="pl-20 mt-2 text-gray-700 mr-4")
          <svg class="w-auto h-3" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
      div(class="flex flex-row py-2 pt-10 items-center")
        div(class="ml-4 w-32 text-gray-700")
          | Functionality:
        div(id="devicesBtn1" class="w-64 py-2 border rounded-md flex hover:bg-gray-300 cursor-pointer")
          span(class="ml-2 w-64") sadasd
          div(id="arrowDown1" class="mr-2")
            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7m0 0l-7-7m7 7V3"></path></svg>
          div(id="arrowUp1" class="mr-2 hidden")
            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 10l7-7m0 0l7 7m-7-7v18"></path></svg>
          div(class="p-2 mt-10 absolute hidden border rounded-lg flex flex-col bg-gray-100" id="dropdownDevices1")
            div(class="flex flex-row items-center")
              div(class="text-gray-700")
                | Temperature
              div(class="ml-12 py-2 border rounded-lg text-xs p-2 bg-red-400")
                | Selected
block scripts
  script.
    window.addEventListener('DOMContentLoaded', () => {
        
      // drop-down
      const arrowUp = document.querySelector('#arrowUp1');
      const arrowDown = document.querySelector('#arrowDown1'); 
      const menuBtn = document.querySelector('#devicesBtn1'); 
      const dropdownDev = document.querySelector('#dropdownDevices1');
      const selectedBtn = document.querySelector('#')

      menuBtn.addEventListener('click', () => {
        dropdownDev.classList.toggle('hidden');
        arrowUp.classList.toggle('hidden');
        arrowDown.classList.toggle('hidden');
        menuBtn.classList.toggle('bg-gray-300');
      })
    })