extends _layout
include mixins/_nodeForm

block styles
  link(rel="stylesheet", href="/css/forms.css")
  link(rel="stylesheet", href="/css/product.css")


block content
  main
    h2 #{title}
    +nodeForm(node)
