extends _layout

block content
    div(class="mt-2 text-xs mx-4")
        p(class="") setup() functionality
        input(type="text" name="setup" id="setup" class="pl-1 w-full rounded border border-gray-700 focus:outline-none")