extends _layout

include mixins/_funcCard

block content
	div(class="flex justify-center")
		h2(class="text-3xl text-gray-900 mb-4 place-self-center") Functionality
	// TODO: Make "add functionaluty" button 
	div(class="flex flex-row flex-wrap items-center justify-evenly")
		each func in funcs
			+funcCard(func)