extends _layout


block content 
  div(class="flex flex-col items-center")
    p(class="text-6xl font-bold tracking-wide text-gray-500") 
     | About this project<span class="text-teal-300">.</span>
    p(class="text-lg font-light  text-center")
      | This project is developed by a group of students from Aalborg University, studying software on the 7th semester. 
      | The project aims to develop an IoT system deployable in areas with poor infrastructure, which utilizes 
      | the advantages of mesh networking technology to establish communication between devices without internet connection. 
      | <a class="text-teal-500">Watch the demo video below</a> to learn more about how you can use the system. 
    div(class="p-8")
      video(class="text-center rounded-lg z-10", width='600', height='420', controls)
        source(src='/videos/video1.mp4', type='video/mp4')
    div(class="flex flex-col lg:flex-row")
      div(class="flex flex-row max-w-md mx-4 mb-4 lg:mb-0")
        img(class="self-start pt-4 mx-3" src='/images/chart.svg')
        div(class="flex flex-col")
          div(class="text-2xl mb-1 text-gray-900 font-light") Data Management
          div(class="text-sm text-gray-900 font-light") 
            | Data collected in a network can be managed without trouble through WineJS. Multiple graphs and charts
            | are build-in and ready to display user-selected sensor data. Its also
            | possible to download the data.
      div(class="flex flex-row max-w-md mx-4 mb-4 lg:mb-0")
        img(class="self-start pt-4 mx-3" src='/images/monitor.svg')
        div(class="flex flex-col")
          div(class="text-2xl mb-1 text-gray-900 font-light") Web Application
          div(class="text-sm text-gray-900 font-light") 
            | WineJS offers a web application ready to use from the start. Through this application, multiple feature
            | resides such as easy deployment of an IoT system build on mesh technology, editing nodes in the network 
            | and adding new functionalities to the nodes.
      div(class="flex flex-row max-w-md mx-4 mb-4 lg:mb-0")
        img(class="self-start pt-4 mx-3" src='/images/rss.svg')
        div(class="flex flex-col")
          div(class="text-2xl mb-1 text-gray-900 font-light") Mesh Networking
          div(class="text-sm text-gray-900 font-light") 
            | Constructing an IoT system based on mesh technology has never been easier with WineJS. This framework uses
            | an advanced mesh network library, capable of self-healing, self-configuring
            | and other comprehensive features. 

