extends _layout

block styles
  link(rel="stylesheet", href="/stylesheets/forms.css")
  link(rel="stylesheet", href="/stylesheets/product.css")
  link(rel="stylesheet", href="/stylesheets/styles.css")

    