extends _layout

block content 
  div(class="")
    p(class="text-6xl font-bold tracking-wide text-gray-500") 
     | About this project<span class="text-teal-300">.</span>
    div(class="my-4")
      p(class="text-sm")
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
        | sed do eiusmod tempor incididunt ut labore et dolore magna 
        | aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
        | laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
        | dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat 
        | nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
        | culpa qui officia deserunt mollit anim id est laborum.
    div(class="")
      p ...
