// This document is the general layout for all pages
// This means that the content here will be displayed if there is *no* block available
// A block is html content loaded from the other views (.pug extenstion)
// Example: content specific to the homepage will be written in homepage.pug
// And loaded into this document through blocks

doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/stylesheets/main.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/styles.css')
    title #{pageTitle}

    block styles

  body
    //
      Tailwind UI components require Tailwind CSS v1.8 and the @tailwindcss/ui plugin.
      Read the documentation to get started: https://tailwindui.com/documentation
    nav.bg-green-300
      .max-w-7xl.mx-auto.px-2(class='sm:px-6 lg:px-8')
        .relative.flex.items-center.justify-between.h-16
          .absolute.inset-y-0.left-0.flex.items-center(class='sm:hidden')
            // Mobile menu button
            button.inline-flex.items-center.justify-center.p-2.rounded-md.text-gray-400.transition.duration-150.ease-in-out(class='hover:text-white hover:bg-gray-700 focus:outline-none focus:bg-gray-700 focus:text-white' aria-label='Main menu' aria-expanded='false')
              // Icon when menu is closed.
              //
                Heroicon name: menu
                Menu open: "hidden", Menu closed: "block"
              svg.block.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
                path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 6h16M4 12h16M4 18h16')
              // Icon when menu is open.
              //
                Heroicon name: x
                Menu open: "block", Menu closed: "hidden"
              svg.hidden.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
                path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 18L18 6M6 6l12 12')
          .flex-1.flex.items-center.justify-center(class='sm:items-stretch sm:justify-start')
            .flex-shrink-0
              img.block.h-8.w-auto(class='lg:hidden' src='/images/logo-white.png' alt='Wine logo')
              img.hidden.h-8.w-auto(class='lg:block' src='/images/logo-white.png' alt='Wine logo')
            .hidden(class='sm:block sm:ml-6')
              .flex
                a.px-3.py-2.rounded-md.text-sm.font-medium.leading-5.text-gray-300.transition.duration-150.ease-in-out(href='/' class=(path === '/'? 'bg-gray-900' : 'hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700')) Homepage
                a.ml-4.px-3.py-2.rounded-md.text-sm.font-medium.leading-5.text-gray-300.transition.duration-150.ease-in-out(href="/dashboard" class=(path === '/dashboard'? 'bg-gray-900' : 'hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700')) Dashboard
                a.ml-4.px-3.py-2.rounded-md.text-sm.font-medium.leading-5.text-gray-300.transition.duration-150.ease-in-out(href='/add-node' class=(path === '/add-device'? 'bg-gray-900' : 'hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700')) Add device
                a.ml-4.px-3.py-2.rounded-md.text-sm.font-medium.leading-5.text-gray-300.transition.duration-150.ease-in-out(href='/nodes' class=(path === '/nodes'? 'bg-gray-900' : 'hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700')) Device
          .absolute.inset-y-0.right-0.flex.items-center.pr-2(class='sm:static sm:inset-auto sm:ml-6 sm:pr-0')  
            // Profile dropdown
            .ml-3.relative
              div
                button#user-menu.flex.text-sm.border-2.border-transparent.rounded-full.transition.duration-150.ease-in-out(class='focus:outline-none focus:border-white' aria-label='User menu' aria-haspopup='true')
                  img.h-8.w-8.rounded-full(src='https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80' alt='')
              //
                Profile dropdown panel, show/hide based on dropdown state.
                Entering: "transition ease-out duration-100"
                From: "transform opacity-0 scale-95"
                To: "transform opacity-100 scale-100"
                Leaving: "transition ease-in duration-75"
                From: "transform opacity-100 scale-100"
                To: "transform opacity-0 scale-95"
              .origin-top-right.absolute.right-0.mt-2.w-48.rounded-md.shadow-lg
                .py-1.rounded-md.bg-white.shadow-xs(role='menu' aria-orientation='vertical' aria-labelledby='user-menu')
                  a.block.px-4.py-2.text-sm.leading-5.text-gray-700.transition.duration-150.ease-in-out(href='#' class='hover:bg-gray-100 focus:outline-none focus:bg-gray-100' role='menuitem') Your Profile
                  a.block.px-4.py-2.text-sm.leading-5.text-gray-700.transition.duration-150.ease-in-out(href='#' class='hover:bg-gray-100 focus:outline-none focus:bg-gray-100' role='menuitem') Settings
                  a.block.px-4.py-2.text-sm.leading-5.text-gray-700.transition.duration-150.ease-in-out(href='#' class='hover:bg-gray-100 focus:outline-none focus:bg-gray-100' role='menuitem') Sign out

                  
      //
        Mobile menu, toggle classes based on menu state.
        Menu open: "block", Menu closed: "hidden"
      .hidden(class='sm:hidden')
        .px-2.pt-2.pb-3
          a.block.px-3.py-2.rounded-md.text-base.font-medium.text-white.bg-gray-900.transition.duration-150.ease-in-out(href='#' class='focus:outline-none focus:text-white focus:bg-gray-700') Dashboard
          a.mt-1.block.px-3.py-2.rounded-md.text-base.font-medium.text-gray-300.transition.duration-150.ease-in-out(href='#' class='hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700') Team
          a.mt-1.block.px-3.py-2.rounded-md.text-base.font-medium.text-gray-300.transition.duration-150.ease-in-out(href='#' class='hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700') Projects
          a.mt-1.block.px-3.py-2.rounded-md.text-base.font-medium.text-gray-300.transition.duration-150.ease-in-out(href='#' class='hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700') Calendar



    block messages
      if locals.flashes
        .inner.inner--flashes
          .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash__text!= message
                  button.flash__remove(onClick="this.parentElement.remove()") &times;
    
    
    block content
