extends _layout

block content
  div(id="settings-container" class="mx-64 border border-gray-300 rounded-lg")
    div(class="flex flex-col profile-settings mt-6")
      a(class="text-gray-900 text-2xl font-light mx-4") Profile
      a(class="text-xs text-gray-600 mx-4") Change your profile settings.
      div(id="editName" class="flex flex-row mt-4 py-2 hover:bg-gray-300 cursor-pointer")
        div(class="w-32")
          a(class="text-xs text-gray-700 ml-4") Name
        div(class="")
          a(class="text-xs text-gray-700") Name of user
      div(id="editGender" class="flex flex-row py-2 hover:bg-gray-300 cursor-pointer")
        div(class="w-32")
          a(class="text-xs text-gray-700 ml-4") Gender
        div(class="")
          a(class="text-xs text-gray-700") Gender of user

    div(class="flex flex-col login-settings my-6")
      a(class="text-gray-900 text-2xl font-light mx-4") Login
      a(class="text-xs text-gray-600 mx-4") Change your login settings.
      div(id="editEmail" class="flex flex-row mt-4 py-2 hover:bg-gray-300 cursor-pointer")
        div(class="w-32")
          a(class="text-xs text-gray-700 ml-4") Email
        div(class="")
          a(class="text-xs text-gray-700") Email of user
      div(id="editPassword" class="flex flex-row py-2 hover:bg-gray-300 cursor-pointer")
        div(class="w-32")
          a(class="text-xs text-gray-700 ml-4") Password
        div(class="")
          a(class="text-xs text-gray-700") ***********
  