extends _layout

block content
  div(class="text-gray-900 font-light text-5xl items-center text-center")
    | Account settings
    p(class="mt-2 text-lg text-gray-600")
      | Edit your account settings.
  div(id="sectionSplitter" class="w-full border-b mb-8 mt-8")
  div(class="flex justify-center")
    div(id="settings-container" class="mx-64 border border-gray-300 rounded-lg max-w-screen-sm")
      div(class="flex flex-col mt-6")
        a(class="text-gray-900 text-2xl font-light mx-4") Profile
        a(class="text-xs text-gray-600 mx-4") Change your profile settings.
        div(id="editName" class="flex flex-row mt-4 py-2 hover:bg-gray-300 cursor-pointer")
          div(class="w-32")
            a(class="text-xs text-gray-700 ml-4") Name
          div(class="w-64")
            a(class="text-xs text-gray-700" test-cy="setting-name") #{user.name}
          div(class="pl-20 mt-2 text-gray-700 mr-4")
            <svg class="w-auto h-3" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>

        // **************** Name modal begins here ****************
        div(id="modalName" class="h-full overflow-auto fixed bg-gray-900 bg-opacity-75 hidden inset-0 flex flex-col justify-center items-center")
          div(class="bg-gray-200 max-w-sm py-3 px-3 rounded-lg shadow-xl")
            div(class="flex text-white")
              <svg id="closeModalName" class="ml-auto text-gray-700 w-5 h-5 cursor-pointer hover:bg-gray-300 rounded-full" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
            div(class="flex justify-center")
              img(class="h-16 w-auto mr-2" src='/images/logo.png' alt='Wine logo black')
            div(class="flex justify-center items-center")
              h4(class="text-2xl font-light px-10") Change name
            form(action="/settings/name" method="POST")
              div(class="mt-2 text-xs mx-4")
                | Name
              div(class="mt-1 text-xs mx-4")
                input(type="text" name="name" value=user.name id="new-name" test-cy="setting-name-input" class="pl-1 w-full rounded border border-gray-700 focus:outline-none" required)
              div(class="mt-5 flex justify-center text-md")
                button(id="saveNameBtn" test-cy="save-name-btn" class="px-5 py-1 bg-indigo-400 border rounded-lg text-gray-100 hover:border-indigo-400 hover:bg-gray-200 hover:text-indigo-400 focus:outline-none")
                  | Save
              div(class="text-xs flex justify-center mt-2 mb-2")
                <a id="cancelNameBtn" class="cursor-pointer text-indigo-400 hover:font-semibold">Cancel</a>

        // **************** Name modal ends here ****************

      div(class="flex flex-col login-settings my-6")
        a(class="text-gray-900 text-2xl font-light mx-4") Login
        a(class="text-xs text-gray-600 mx-4") Change your login settings.
        div(id="editEmail" class="flex flex-row mt-4 py-2 hover:bg-gray-300 cursor-pointer")
          div(class="w-32")
            a(class="text-xs text-gray-700 ml-4") Mail
          div(class="w-64")
            a(class="text-xs text-gray-700" test-cy="setting-email") #{user.email}
          div(class="pl-20 mt-2 text-gray-700")
            <svg class="w-auto h-3" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>

        // **************** Email modal begins here ****************

        div(id="modalEmail" class="h-full overflow-auto fixed bg-gray-900 bg-opacity-75 hidden inset-0 flex flex-col justify-center items-center")
          div(class="bg-gray-200 max-w-sm py-3 px-3 rounded-lg shadow-xl")
            div(class="flex text-white")
              <svg id="closeModalEmail" class="ml-auto text-gray-700 w-5 h-5 cursor-pointer hover:bg-gray-300 rounded-full" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
            div(class="flex justify-center")
              img(class="h-16 w-auto mr-2" src='/images/logo.png' alt='Wine logo black')
            div(class="flex justify-center items-center")
              h4(class="text-2xl font-light px-10") Change mail
            form(action="/settings/email" method="POST")
              div(class="mt-2 text-xs mx-4")
                | Current mail
              div(class="mt-1 text-xs mx-4")
                input(type="email" name="email" value=user.email id="old-email" test-cy="setting-old-email-input" class="pl-1 w-full rounded border border-gray-700 focus:outline-none" required)
              div(class="mt-2 text-xs mx-4")
                | New mail
              div(class="mt-1 text-xs mx-4")
                input(type="email" name="newEmail" id="new-email" test-cy="setting-new-email-input" class="pl-1 w-full rounded border border-gray-700 focus:outline-none" required)
              div(class="mt-5 flex justify-center text-md")
                button(id="saveEmailBtn" test-cy="save-email-btn" class="focus:outline-none px-5 py-1 bg-indigo-400 border rounded-lg text-gray-100 hover:border-indigo-400 hover:bg-gray-200 hover:text-indigo-400")
                  | Save
              div(class="text-xs flex justify-center mt-2 mb-2")
                <a id="cancelEmailBtn" class="cursor-pointer text-indigo-400 hover:font-semibold">Cancel</a>

        // **************** Email modal ends here ****************

        div(id="editPassword" class="flex flex-row py-2 hover:bg-gray-300 cursor-pointer")
          div(class="w-32")
            a(class="text-xs text-gray-700 ml-4") Password
          div(class="w-64")
            a(class="text-xs text-gray-700") **********
          div(class="pl-20 mt-2 text-gray-700")
            <svg class="w-auto h-3" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>

        // **************** Password modal begins here ****************

        div(id="modalPass" class="h-full overflow-auto fixed bg-gray-900 bg-opacity-75 hidden inset-0 flex flex-col justify-center items-center")
          div(class="bg-gray-200 max-w-sm py-3 px-3 rounded-lg shadow-xl")
            div(class="flex text-white")
              <svg id="closeModalPass" class="ml-auto text-gray-700 w-5 h-5 cursor-pointer hover:bg-gray-300 rounded-full" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
            div(class="flex justify-center")
              img(class="h-16 w-auto mr-2" src='/images/logo.png' alt='Wine logo black')
            div(class="flex justify-center items-center")
              h4(class="text-2xl font-light px-8") Change password
            form(action="/settings/password" method="POST")
              div(class="mt-2 text-xs mx-4")
                | Current password
              div(class="mt-1 text-xs mx-4")
                input(type="password" name="password" id="old-pass" class="focus:outline-none pl-1 w-full rounded border border-gray-700" required)
              div(class="mt-2 text-xs mx-4")
                | New password
              div(class="mt-1 text-xs mx-4")
                input(type="password" name="newPasswordOne" id="new-pass-one" class="focus:outline-none pl-1 w-full rounded border border-gray-700" required)
              div(class="mt-2 text-xs mx-4")
                | Repeat new password
              div(class="mt-1 text-xs mx-4")
                input(type="password" name="newPasswordTwo" id="new-pass-two" class="focus:outline-none pl-1 w-full rounded border border-gray-700" required)
              div(class="mt-5 flex justify-center text-md")
                button(id="savePassBtn" class="focus:outline-none px-5 py-1 bg-indigo-400 border rounded-lg text-gray-100 hover:border-indigo-400 hover:bg-gray-200 hover:text-indigo-400")
                  | Save
              div(class="text-xs flex justify-center mt-2 mb-2")
                <a id="cancelPassBtn" class="cursor-pointer text-indigo-400 hover:font-semibold">Cancel</a>

        // **************** Password modal ends here ****************

        div(class="mt-5 flex justify-center text-sm")
          form(action="/account/delete" method="GET")
            button(id="deleteAccountBtn" class="focus:outline-none px-4 py-1 bg-red-500 border rounded-lg text-gray-100 hover:border-red-500 hover:bg-indigo-100 hover:text-red-500")
              | Delete account

block scripts
  script.
    window.addEventListener('DOMContentLoaded', () => {
      const body = document.querySelector('#body');

      // for editing name
      const modalName = document.querySelector('#modalName');
      const editName = document.querySelector('#editName');
      const closeEditName = document.querySelector('#closeModalName');
      const cancelEditName = document.querySelector('#cancelNameBtn');

      // for editing email
      const modalEmail = document.querySelector('#modalEmail');
      const editEmail = document.querySelector('#editEmail');
      const closeEditEmail = document.querySelector('#closeModalEmail');
      const cancelEditEmail = document.querySelector('#cancelEmailBtn');

      // for editing password
      const modalPass = document.querySelector('#modalPass');
      const editPass = document.querySelector('#editPassword');
      const closeEditPass = document.querySelector('#closeModalPass');
      const cancelEditPass = document.querySelector('#cancelPassBtn');


      // "toggle" checks if the element has class hidden and flex, if not, it adds, if it does, it removes
      const toggleModalName = () => {
        modalName.classList.toggle('hidden');
        body.classList.toggle('overflow-hidden');
      }

      const toggleModalEmail = () => {
        modalEmail.classList.toggle('hidden');
        body.classList.toggle('overflow-hidden');
      }

      const toggleModalPass = () => {
        modalPass.classList.toggle('hidden');
        body.classList.toggle('overflow-hidden');
      }

      editName.addEventListener('click', toggleModalName)
      closeEditName.addEventListener('click', toggleModalName)
      cancelEditName.addEventListener('click', toggleModalName)

      editEmail.addEventListener('click', toggleModalEmail)
      closeEditEmail.addEventListener('click', toggleModalEmail)
      cancelEditEmail.addEventListener('click', toggleModalEmail)

      editPass.addEventListener('click', toggleModalPass)
      closeEditPass.addEventListener('click', toggleModalPass)
      cancelEditPass.addEventListener('click', toggleModalPass)
    })
