extends _layout

block styles

block content
  // needs new styling
  form.product-form(action='/signup', method='POST')
    .form-control
      p 
        | Name
        input(type='text', name='name', value='') 
        | Email 
        input(type='text', email='email', value='')
        | Password 
        input(type='text', password='password', value='')

        button.btn(type='submit') Sign up
        