nav.bg-indigo-700
  div.max-w-7xl.mx-auto.px-2(class='sm:px-6 lg:px-8')
    div.relative.flex.items-center.justify-between.h-16
      div.absolute.inset-y-0.left-0.flex.items-center(class='sm:hidden')
        // Mobile menu button (hamburger)
        button.inline-flex.items-center.justify-center.p-2.rounded-md.text-gray-400.transition.duration-150.ease-in-out(class='hover:text-white hover:bg-gray-900 focus:outline-none focus:bg-gray-900 focus:text-white' aria-label='Main menu' aria-expanded='false')
          // Icon when menu is closed.
          // Heroicon name: menu
          // Menu open: "hidden", Menu closed: "block"
          svg.block.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
            path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 6h16M4 12h16M4 18h16')
          // Icon when menu is open.
          // Heroicon name: 
          // Menu open: "block", Menu closed: "hidden"
          svg.hidden.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
            path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 18L18 6M6 6l12 12')
      div.flex-1.flex.items-center.justify-center(class='sm:items-stretch sm:justify-start')
        div.flex-shrink-0
          img.block.h-10.w-auto(class='lg:hidden' src='/images/logo-white.png' alt='Wine logo')
          img.hidden.h-10.w-auto(class='lg:block' src='/images/logo-white.png' alt='Wine logo')
        div.hidden(class='sm:block sm:ml-6')
          div.flex
            a.ml-4.px-3.py-2.rounded-md.text-sm.font-medium.leading-5.text-gray-300.transition.duration-150.ease-in-out(href="/signup" class=(path === '/signup'? 'bg-gray-900' : 'hover:text-white hover:bg-gray-900 focus:outline-none focus:text-white focus:bg-gray-900')) Sign in
            a.ml-4.px-3.py-2.rounded-md.text-sm.font-medium.leading-5.text-gray-300.transition.duration-150.ease-in-out(href='/signup' class=(path === '/signup'? 'bg-gray-900' : 'hover:text-white hover:bg-gray-900 focus:outline-none focus:text-white focus:bg-gray-900')) Sign up
      div.absolute.inset-y-0.right-0.flex.items-center.pr-2(class='sm:static sm:inset-auto sm:ml-6 sm:pr-0')
