.flash-inner {
  max-width: 900px;
  margin: 0 auto; }
  @media all and (max-width: 900px) {
    .flash-inner {
      padding: 2rem; } }
  .inner--flashes {
    padding: 0; }

.flash-card {
  background: white;
  padding: 5rem;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15); }

.flash {
  background: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 2rem;
  padding: 2rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 3px;
  display: -ms-flexbox;
  display: flex;
  animation: slideIn forwards .1s ease-in-out 2;
  animation-timing-function: cubic-bezier(0.01, 1.68, 0.58, 1); }
  .flash + .flash {
    animation-delay: 0.55s; }
    .flash + .flash + .flash {
      animation-delay: 0.6s; }
  .flash__text {
    -ms-flex: 1;
        flex: 1; }
  .flash__remove {
    background: none;
    border: 0; }
    .flash__remove:hover {
      color: #FFC40E; }
  .flash:after {
    content: '';
    display: block;
    background: white;
    position: absolute;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    top: 8px;
    left: 8px;
    z-index: -1;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px; }
  .flash--success {
    background: linear-gradient(135deg, #d2ff52 0%, #91e842 100%); }
  .flash--error {
    background: linear-gradient(20deg, red 0%, #c80000 100%); }
  .flash--info {
    background: linear-gradient(35deg, #f1e767 0%, #feb645 100%); }
  .flash p {
    margin: 0; }